<i>Copyright (c) Microsoft Corporation. All rights reserved.</i>

<i>Licensed under the MIT License.</i>

# Data Visualization

In [8]:
import sys
sys.path.append("../../")

import numpy as np
import pandas as pd
from reco_utils.dataset.movielens import load_pandas_df, load_item_df

## User, Item, and Rating

In [12]:
ratings_df = load_pandas_df(
    size='100k',
    header=('userID', 'itemID', 'rating', 'timestamp'),
)
ratings_df.head()

4.93MB [00:01, 3.22MB/s]

   userID  itemID  rating  timestamp
0     196     242     3.0  881250949
1      63     242     3.0  875747190
2     226     242     5.0  883888671
3     154     242     3.0  879138235
4     306     242     5.0  876503793

In [16]:
about_ratings = ratings_df['rating'].describe()
about_ratings

count    100000.000000
mean          3.529860
std           1.125674
min           1.000000
25%           3.000000
50%           4.000000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [ ]:
# Num ratings for each users
# Num ratings for each item
# Num ratings for each category (genres) (for each user or overall or avg)
# Num ratings on timestamp

# Note, timestamp is not the "consumed" time.
# Ratings over different time of day
# Ratings over different day of week

# Cooccurrence
import seaborn as sns
import matplotlib.pyplot as plt


fig = plt.figure(figsize=(12, 6), dpi=100)
plt.subplot(1, 2, 1)

avg_category_similarity_pd = avg_category_similarity.toPandas()
avg_category_similarity_pd = avg_category_similarity_pd.pivot('i1_category', 'i2_category', 'avg_similarity')

# Generate a mask for the upper triangle
mask = np.zeros_like(avg_category_similarity_pd, dtype=np.bool)
mask[np.triu_indices_from(mask, k=1)] = True

# corr, mask=mask, cmap=cmap, vmax=.3, center=0, square=True, linewidths=.5, cbar_kws={"shrink": .5})
ax_sim = sns.heatmap(avg_category_similarity_pd, mask=mask, vmax=.015, vmin=.0, square=True, linewidths=.5)

plt.subplot(1, 2, 2)

avg_category_cooccurrence_pd = avg_category_cooccurrence.toPandas()
avg_category_cooccurrence_pd = avg_category_cooccurrence_pd.pivot('i1_category', 'i2_category', 'avg_cooccurrence')

# Can reuse the same mask
ax_coo = sns.heatmap(avg_category_cooccurrence_pd, mask=mask, vmax=10000, vmin=.0, square=True, linewidths=.5)

plt.tight_layout()
display(fig)

## Overlap between Training Set and Test Set

## Item Features

In [11]:
items_df = load_item_df(
    size='100k',
    movie_col='itemID',
    title_col='title',
    genres_col='genres',
    year_col='year',
)
items_df.head()

4.93MB [00:00, 5.00MB/s]

   itemID              title                       genres  year
0       1   Toy Story (1995)  Animation|Children's|Comedy  1995
1       2   GoldenEye (1995)    Action|Adventure|Thriller  1995
2       3  Four Rooms (1995)                     Thriller  1995
3       4  Get Shorty (1995)          Action|Comedy|Drama  1995
4       5     Copycat (1995)         Crime|Drama|Thriller  1995

In [ ]:
# Num movies in year
# Num movies in genres